// go.work is the configuration file for Go Workspace Mode (introduced in Go 1.18). 
// It is used to manage projects that contain multiple independent Go modules (folders with their own go.mod files).

go 1.26.3

use (
    ./platform
    ./services/auth
)