// go.work is the configuration file for Go Workspace Mode (introduced in Go 1.18).
// It is used to manage projects that contain multiple independent Go modules (folders with their own go.mod files).

go 1.25.0

use (
	./platform
	./services/admin
	./services/auth
	./services/gateway
	./services/liquidity-engine
	./services/market
	./services/matching-engine
	./services/notification
	./services/order
	./services/portfolio
	./services/settlement
	./services/trade
	./services/wallet
	./services/wallet-topup
)
